<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!--
		Solid Works conversion
		x <- z
		y <- x
		z <- z
	-->

	<xacro:macro name="pelvis">

		<link name="base_link">
			<!-- this shift is WTF and hack -->
	 		<xacro:meshes file="pelvis" xyz="0 0.0276 0" collision="True"/>
	 		<inertial>
	 			<!-- z origin is incorrect -->
	 			<origin xyz="0 0 0.15" rpy="0 0 0"/>
      			<mass value="5.045"/>
      			<inertia ixx="0.031053" ixy="0.000014" ixz="-0.000227"
      				                    iyy="0.012429" iyz="-0.000016"
      				                                   izz="0.032811"/>
    		</inertial>
	 	</link>

 	</xacro:macro>
</robot>