<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!--
		Solid Works conversion
		x <- -x
		y <-  z
		z <-  y
	-->

	<xacro:macro name="pelvis">

		<link name="base_link">
			<!-- this shift is WTF and hack -->
	 		<xacro:meshes file="pelvis" xyz="0 0.0276 0" collision="True"/>
	 		<inertial>
	 			<!-- z origin is incorrect -->
	 			<origin xyz="0 0 0.15" rpy="0 0 0"/>
      			<mass value="5.045"/>
      			<inertia ixx="1.0" ixy="1.0" ixz="1.0"
      				     iyy="1.0" iyz="1.0"
      				     izz="1.0"/>
    		</inertial>
	 	</link>

 	</xacro:macro>
</robot>